/* William r+i */
@font-face {
    font-family: "William";
    src: url(../fonts/william-r.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "William";
    src: url(../fonts/william-i.woff2);
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "swsh" 1;
}

/* EBG r+i */
@font-face {
    font-family: "EB Garamond";
    src: url(../fonts/EBGaramond-Regular.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "EB Garamond";
    src: url(../fonts/EBGaramond-Italic.woff2);
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "swsh" 1;
}