/* TABLE OF CONTENTS */

/* DO IF TIME YES TO MAKE BORDER TRANSITION ON WINDOW RESIZE SMOOTHER, WITHOUT JANKY WIDTH FROM 0PX to 1PX */
/* --color: 240, 240, 240;
}

body {
  color: #000;
  background-color: #000;
}

#element {
  background-color: rgba(var(--color), 0.8); */

#letterform-through-lexicon {
    background: var(--backgroundcol);
}

#letterform-through-lexicon h2 {
    font-variant-caps: unset;
    letter-spacing: 0rem;
}

#letterform-through-lexicon p {
    transition: all 400ms cubic-bezier(0.56, 0.01, 0.31, 0.99);
    color: #c8c8c6;
    cursor: pointer;

    width: 85%;
    margin: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    text-indent: 2rem;
    background: var(--backgroundcol);
    outline: var(--backgroundcol) 0px solid;
}

#letterform-through-lexicon h2 {
    background: var(--backgroundcol);
}

#letterform-through-lexicon p:hover {
    color: green;
    opacity: 100%;
}

.sidenote {
    transition: all 160ms cubic-bezier(0.56, 0.01, 0.31, 0.99);
    /* transform: translate(0, 0.2rem); */
}

#letterform-through-lexicon {
    display: block;
    float: right;
    position: sticky;
    top: 1rem;
    position: -webkit-sticky;
    left: 1rem;
    clear: both;
    vertical-align: baseline;
    margin-top: 0;
    width: 42.3%;
    z-index: 2;
}

#letterform-through-lexicon .current-section {
    text-indent: 0.5rem;
    opacity: 100%;
    color: black;

    /* outline: 1px solid black; */
}

/* works but only somewhat  */
.current-section {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.firstSection {
    padding-top: 0.9rem !important;
    padding-bottom: 0.1rem !important;
}

.secondSection {
    padding-top: 0.1rem !important;
    padding-bottom: 0.9rem !important;
}

/* DOESN'T WORK
#letterform-through-lexicon .current-section:not(:has(~ .current-selection)) {
    padding-bottom: 2rem;
} */

/* .letterform-through-lexicon > .current-selection {
    border: 1px solid red;
}
.letterform-through-lexicon > .current-selection ~ .current-selection {
    border: none;
} */

.under-toc {
    opacity: 0%;
    /* prevent links from opening when under TOC */
    pointer-events: none;
}

@media (max-width: 999px) and (min-width: 761px) {
    #letterform-through-lexicon p {
        width: 85%;
    }
}

@media (max-width: 760px) {
    #letterform-through-lexicon p {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    #letterform-through-lexicon {
        display: unset;
        float: unset;
        position: unset;
        width: unset;
    }

    #letterform-through-lexicon p:hover {
        color: green;
        opacity: 100%;
    }

    /* stop JS TOC behaviour in mobile view */
    .current-section {
        text-indent: 0.5rem;
        opacity: 100%;
        color: black;
    }

    #letterform-through-lexicon p {
        outline: 1px solid black;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-indent: 1.5rem;
        color: black;
    }

    .current-section {
        color: black !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        text-indent: 1.5rem !important;
    }

    .firstSection {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .secondSection {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    #letterform-through-lexicon h2 {
        font-style: italic;
    }
}

/* BIBLIOGRAPHY */
#bibliography > p {
    text-indent: 2rem hanging;
}
